
.icon-mail:before { content: '\e806'; } /* '' */
.icon-mail-alt:before { content: '\e807'; } /* '' */
.icon-eye:before { content: '\e802'; } /* '' */
.icon-code:before { content: '\e804'; } /* '' */
.icon-doc-text:before { content: '\e800'; } /* '' */
.icon-fork:before { content: '\e803'; } /* '' */
.icon-github:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e805'; } /* '' */